.form-container {
    display: flex;
    padding: 10px;
    width: 580px;
}

.submit-btn {
    background-color: orangered;
    border-radius: 2px;
    cursor: pointer;
    padding: 6px;
    border: none;
}

.form-container * {
    margin: 1rem;
}

.form-container input, textarea {
    font-size: 20px;
}